Repository yb-hackathon-code-butcher/codebase, pull requests merged in 2020-10, with the labels that each got.

#14 initial backend from spring starter.
  backend/.gitignore
  backend/.mvn/wrapper/MavenWrapperDownloader.java
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/io/github/butcher/butcher/back/ButcherBackApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/io/github/butcher/butcher/back/ButcherBackApplicationTests.java
  frontend/butcher-front/butcher-front.iml
Labels: Backend, enhancement

#18 Feature/redis store
  backend/Docker/docker-compose.yml
  backend/Docker/flyway/Dockerfile
  backend/Docker/flyway/flyway.conf
  backend/pom.xml
  backend/src/main/java/io/github/butcher/butcher/back/config/RedisHttpSessionConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/config/application.yml
  backend/src/main/resources/sql/migration/20201009_1355__init.sql
Labels: Backend, enhancement

#20 disable redis store for unit/integration testing.
  backend/src/main/resources/config/application.yml
  backend/src/test/resources/config/application.yml
Labels: Backend, bug

#22 Feature/socket io implementation
  backend/pom.xml
  backend/src/main/java/io/github/butcher/butcher/back/config/RedisHttpSessionConfig.java
  backend/src/main/java/io/github/butcher/butcher/back/config/SocketIOServerConfig.java
  backend/src/main/java/io/github/butcher/butcher/back/config/SocketIOServerProperties.java
  backend/src/main/resources/banner.txt
  backend/src/main/resources/config/application-dev.yml
  backend/src/test/java/io/github/butcher/butcher/back/ButcherBackApplicationIntegrationTest.java
  backend/src/test/java/io/github/butcher/butcher/back/ButcherBackApplicationTests.java
Labels: Backend, Sockets, enhancement

#23 update mvnw git-index to +x.
  .github/workflows/backend-build-deployment-canary.yml
  .github/workflows/backend-build.yml
  backend/mvnw
Labels: Backend, bug

#24 added datasource config
  .github/workflows/backend-build-deployment-canary.yml
  .github/workflows/backend-build.yml
  backend/src/main/resources/config/application-dev.yml
  backend/src/main/resources/config/application.yml
  backend/src/test/resources/config/application.yml
Labels: Backend, enhancement

#27 Feature/basic app events
  backend/pom.xml
  backend/src/main/java/io/github/butcher/butcher/back/service/GameStateService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/SocketSessionService.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/AbstractSocketIOEventListener.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/GameEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/JoinListener.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/SocketIOServerConnectionListener.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/SocketIOServerOutboundEventListener.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/VoteListener.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameEndedEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameStartsEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/JoinEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/NextRoundEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/RoundEndedEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/SocketIOEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/VoteEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/VoteUpdateEvent.java
  backend/src/test/java/io/github/butcher/butcher/back/ButcherBackApplicationIntegrationTest.java
  backend/src/test/java/io/github/butcher/butcher/back/socket/SocketIOServerOutboundEventListenerIntegrationTest.java
Labels: Backend, enhancement

#33 create game scheduler which handles upcoming events.
  backend/src/main/java/io/github/butcher/butcher/back/TimeUtil.java
  backend/src/main/java/io/github/butcher/butcher/back/admin/event/GameScheduledEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/config/SchedulingConfig.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/Game.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/Option.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/Player.java
  backend/src/main/java/io/github/butcher/butcher/back/scheduler/NextGameScheduler.java
  backend/src/main/java/io/github/butcher/butcher/back/service/GameService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/dto/GameDTO.java
  backend/src/main/java/io/github/butcher/butcher/back/service/dto/GameStatsDTO.java
  backend/src/main/java/io/github/butcher/butcher/back/service/dto/OptionDTO.java
  backend/src/main/java/io/github/butcher/butcher/back/service/dto/PlayerDTO.java
  backend/src/main/java/io/github/butcher/butcher/back/service/dto/TeamDTO.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameStartsEvent.java
Labels: Backend, enhancement

#39 Feature/game state machine
  backend/src/main/java/io/github/butcher/butcher/back/ButcherBackApplication.java
  backend/src/main/java/io/github/butcher/butcher/back/config/AppGameProperties.java
  backend/src/main/java/io/github/butcher/butcher/back/config/SocketIOServerConfig.java
  backend/src/main/java/io/github/butcher/butcher/back/controller/GameController.java
  backend/src/main/java/io/github/butcher/butcher/back/controller/OptionController.java
  backend/src/main/java/io/github/butcher/butcher/back/controller/PlayerController.java
  backend/src/main/java/io/github/butcher/butcher/back/controller/TeamController.java
  backend/src/main/java/io/github/butcher/butcher/back/game/GameStarter.java
  backend/src/main/java/io/github/butcher/butcher/back/game/RoundEvaluator.java
  backend/src/main/java/io/github/butcher/butcher/back/game/VotingResult.java
  backend/src/main/java/io/github/butcher/butcher/back/game/event/GameScheduledEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/game/event/StartEvaluationEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/game/event/StopGameEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/scheduler/GameEndScheduler.java
  backend/src/main/java/io/github/butcher/butcher/back/scheduler/NextGameScheduler.java
  backend/src/main/java/io/github/butcher/butcher/back/scheduler/NextRoundScheduler.java
  backend/src/main/java/io/github/butcher/butcher/back/service/GameService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/OptionService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/PlayerService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/SocketSessionService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/TeamService.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/GameEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/VoteListener.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameEndedEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameStartsEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/NextRoundEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/RoundEndedEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/util/TimeUtil.java
Labels: Backend, enhancement

#41 Feature/starting options
  backend/src/main/java/io/github/butcher/butcher/back/game/Category.java
  backend/src/main/java/io/github/butcher/butcher/back/game/WinnLose.java
  backend/src/main/resources/db/migration/V2__options.sql
  backend/src/main/resources/db/migration/V3__counter_options.sql
Labels: Backend, enhancement

#44 Feature/game start random options
  backend/src/main/java/io/github/butcher/butcher/back/config/SchedulingConfig.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/repository/OptionRepository.java
  backend/src/main/java/io/github/butcher/butcher/back/game/GameStarter.java
  backend/src/main/java/io/github/butcher/butcher/back/game/event/GameScheduledEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/service/OptionService.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameEndedEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameStartsEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/NextRoundEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/RoundEndedEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/VoteUpdateEvent.java
Labels: Backend, enhancement

#50 select next options after each round.
  backend/src/main/java/io/github/butcher/butcher/back/controller/OptionController.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/Game.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/repository/OptionRepository.java
  backend/src/main/java/io/github/butcher/butcher/back/game/GameStarter.java
  backend/src/main/java/io/github/butcher/butcher/back/scheduler/NextRoundScheduler.java
  backend/src/main/java/io/github/butcher/butcher/back/service/GameService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/GameStateService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/OptionService.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/SocketIOServerOutboundEventListener.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameEndedEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameStartsEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/JoinEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/NextRoundEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/RoundEndedEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/SocketIOEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/VoteEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/VoteUpdateEvent.java
  backend/src/main/resources/db/migration/V4__add_team_zones.sql
  backend/src/test/java/io/github/butcher/butcher/back/socket/SocketIOServerOutboundEventListenerIntegrationTest.java
Labels: Backend, enhancement

#52 Feature/voter
  backend/src/main/java/io/github/butcher/butcher/back/domain/Option.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/OptionCategory.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/OptionWinLose.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/Round.java
  backend/src/main/java/io/github/butcher/butcher/back/domain/repository/RoundRepository.java
  backend/src/main/java/io/github/butcher/butcher/back/game/Category.java
  backend/src/main/java/io/github/butcher/butcher/back/game/GameStarter.java
  backend/src/main/java/io/github/butcher/butcher/back/game/RoundEvaluator.java
  backend/src/main/java/io/github/butcher/butcher/back/game/Voter.java
  backend/src/main/java/io/github/butcher/butcher/back/scheduler/NextRoundScheduler.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/VoteListener.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/NextRoundEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/RoundEndedEvent.java
  backend/src/main/resources/db/migration/V5__drop_table_round.sql
  backend/src/test/java/io/github/butcher/butcher/back/game/VoterUnitTest.java
Labels: Backend, enhancement

#53 determine winner team by score.
  backend/src/main/java/io/github/butcher/butcher/back/service/GameService.java
Labels: Backend, enhancement

#61 use flyway-core for migrations.
  backend/Docker/docker-compose.yml
  backend/Docker/flyway/Dockerfile
  backend/Docker/flyway/flyway.conf
  backend/pom.xml
  backend/src/main/resources/config/application-dev.yml
  backend/src/main/resources/config/application.yml
  backend/src/test/resources/config/application.yml
Labels: Backend, bug

#56 save current ball possession on game model.
  backend/src/main/java/io/github/butcher/butcher/back/domain/Game.java
  backend/src/main/java/io/github/butcher/butcher/back/game/RoundEvaluator.java
  backend/src/main/java/io/github/butcher/butcher/back/game/Voter.java
  backend/src/main/java/io/github/butcher/butcher/back/game/VotingResult.java
  backend/src/main/java/io/github/butcher/butcher/back/scheduler/NextGameScheduler.java
  backend/src/main/java/io/github/butcher/butcher/back/scheduler/RoundScheduler.java
  backend/src/main/java/io/github/butcher/butcher/back/service/GameService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/OptionService.java
  backend/src/main/java/io/github/butcher/butcher/back/service/dto/GameDTO.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/GameStartsEvent.java
  backend/src/main/java/io/github/butcher/butcher/back/socket/event/RoundEndedEvent.java
  backend/src/main/resources/db/migration/V6__game_saves_current_possession.sql
Labels: Backend, enhancement

#74 configure spring-boot actuator endpoint.
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/create-and-push-docker-image.sh
  backend/docker/docker-compose.yml
  backend/pom.xml
  backend/src/main/java/io/github/butcher/butcher/back/config/WebFluxSecurityConfig.java
  backend/src/main/resources/config/application.yml
  frontend/create-and-push-docker-image.sh
  k8s/deployment-backend.yaml
  k8s/deployment-frontend.yaml
  k8s/deployment-postgres.yaml
  k8s/ingress-backend.yaml
  k8s/ingress-frontend.yaml
  k8s/service-backend.yaml
  k8s/service-frontend.yaml
  k8s/service-postgres.yaml
Labels: Backend, Frontend, enhancement

#81 #72 one codebase to rule them all.
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  backend/pom.xml
  frontend/.gitignore
  frontend/butcher-front.iml
  frontend/pom.xml
  mvnw
  mvnw.cmd
  pom.xml
Labels: Backend, Frontend, enhancement
